html * {
  font-family: 'Droid Sans', sans-serif;
}

/* Space out content a bit */
body {
  padding: 10px 10px 10px 10px;
/*
  padding-top: 10px;
  padding-bottom: 10px;
*/
}

/*
.container {
  padding: 10px 10px 10px 10px;
}
*/
/*
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  padding: 2px 5px 2px 5px;
  line-height: 1.0; /*1.42857;* /
  vertical-align: middle;
  border-top: 1px solid #f0f0f0;
  white-space: wrap;
  font-size: 1.2em;
  font-weight: 400;
}
.table {
  margin-left: 5px;
  margin-bottom: 5px;
}
*/

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  NOborder-bottom: 1px solid red; /*#e5e5e5;*/
  NOmargin-bottom: 2.0em;
}

.navbar-brand {
  font-weight: bold;
  font-style: italic;
  color: darkred;
  padding-left: 0; /* save mobile header space ... */
}

/* Custom page footer */
.footer {
  margin-top: 10px;
  padding-top: 5px;
  color: #888;
  border-top: 1px solid #e0e0e0;
  font-size: .88em;
}

/*
.btn-admin {
  background-color: lightgreen;
}
*/
.btn-spaced {
  margin-left: 5px;
}

/* element rotation - 90° clock-wise */
.rotate90cw {
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -o-transform:rotate(90deg);
  -ms-transform:rotate(90deg);        
}

/* element rotation - 90° counter-clock-wise */
.rotate90ccw {
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -o-transform:rotate(270deg);
  -ms-transform:rotate(270deg);        
}

/* element rotation - 180° */
/*
.rotate180 {
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -o-transform:rotate(180deg);
  -ms-transform:rotate(180deg);        
}
*/

/* glyphicon-chevron left to make it double */
.glyphicon-chevron-left-2 {
  margin-left: -7px;
}

/* Listing page */
.row-gap {
  padding: 2px 0 2px 0;
  border-top: 1px solid #e0e0e0;
}
.person-name {
  font-size: 1.0em;
  font-style: italic;
}
.img-clip-container {
  /* TODO: set this value in controller, using ng-style (see https://docs.angularjs.org/api/ng/directive/ngStyle) */
  width: 106px; /* bitmap max width (+1+1), should be set dynamically */
  text-align: center;
  border: 1px solid #eee;
}
.img-clip {
  width: auto;
  /* TODO: set this value in controller, using ng-style (see https://docs.angularjs.org/api/ng/directive/ngStyle) */
  max-width: 104px; /* bitmap max width, should be set dynamically */
  /* TODO: set this value in controller, using ng-style (see https://docs.angularjs.org/api/ng/directive/ngStyle) */
  height: 72px; /* bitmap height, should be set dynamically */
}
.img-clip-small-container {
  width: 66px;
  text-align: center;
  border: 1px solid #aaa;
}
.img-clip-small {
  width: auto;
  max-width: 64px;
  height: 48px;
}
.img-site-container {
  height: 20px;
  text-align: center;
  border: 1px solid #aaa;
}
.img-site {
  width: auto;
  max-height: 18px;
}
.img-thruthful-yes { 
          box-shadow: 1px 1px 2px 0px #143a04;
  -webkit-box-shadow: 1px 1px 2px 0px #143a04;
     -moz-box-shadow: 1px 1px 2px 0px #143a04;
}
.img-thruthful-no { 
          box-shadow: 1px 1px 2px 0px #7c0202;
  -webkit-box-shadow: 1px 1px 2px 0px #7c0202;
     -moz-box-shadow: 1px 1px 2px 0px #7c0202;
}
.img-thruthful-unknown { 
          box-shadow: 1px 1px 2px 0px #aaaaaa;
  -webkit-box-shadow: 1px 1px 2px 0px #aaaaaa;
     -moz-box-shadow: 1px 1px 2px 0px #aaaaaa;
}
.btn-vote {
  color: #fff;
  background: lightred; /* TODO: => #... */
  text-shadow: 1px 1px 1px #222;
}
.btn-vote-9 {
  background: #00ff00;
}
.btn-vote-8 {
  background: #18d800;
}
.btn-vote-7 {
  background: #30b000;
}
.btn-vote-6 {
  background: #489800;
}
.btn-vote-5 {
  background: #608000;
}
.btn-vote-4 {
  background: #786800;
}
.btn-vote-3 {
  background: #905000;
}
.btn-vote-2 {
  background: #a83800;
}
.btn-vote-1 {
  background: #c02000;
}
.btn-vote-0 {
  background: #e80800;
}

/* Photos preview */
/*
.img-container {
  width: 72px;
  height: 96px;
  display: block;
  text-align: center;
  vertical-align: top;
  border: 1px solid #ccc;
  NOmargin-top: -3px;
}
.img-container img {
  max-width: 100%;
}
**/

/* Supporting custom content */
.light, .light a {
  color: #eee;
}

/*
/* Customize container * /
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}
*/

/*
/* Responsive: Portrait tablets and up * /
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier * /
  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead * /
  .header {
    margin-bottom: 30px;
  }
}
*/

/* avoid opten spurious selections */
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* avoid change of cursor on readonly test input */
input[readonly].default-cursor {
  cursor: default;
}

/* TODO: use no-text-decoration... */
/* avoid text decoration on accordion elements */
.accordion-toggle {
  text-decoration: none !important;
}
.no-text-decoration {
  text-decoration: none !important;
}

/* input search with clear button */
.input-search-clear {
  border-right: 0;
}
.button-search-clear {
  cursor: pointer;
  color: #ccc;
  border: 1px solid #ccc;
  border-left: 0;
  background-color: #fefefe;
  outline: none;
}
.button-search-clear:hover {
  color: #888;
  border: 1px solid #ccc;
  border-left: 0;
  background-color: #fefefe;
  outline: none;
}
.button-search-clear:active {
  color: #444;
  border: 1px solid #ccc;
  border-left: 0;
  background-color: #fefefe;
  outline: none;
}
.button-search-clear:focus {
  color: #444;
  border: 1px solid #ccc;
  border-left: 0;
  background-color: #fefefe;
  outline: none;
}

/* side-menu items separator */
p.menu-item-separator {
  margin: 10px;
}

/* carousel */
.carousel-inner > .item > img { /* center carousel slides */
  margin: 0 auto;
}
.carousel-control.left, .carousel-control.right { /* no gradient for carousel controls */
  color: #337ab7;
  background-image: none;
  text-shadow: 1px 1px 0 #fff;
}
.carousel-indicators li {
  opacity: 0.4;
}
.carousel-indicators .active {
  opacity: 0.5;
}
.carousel-toolbar {
}

/* Google maps */
#map-canvas { /* TODO: do we need this? */
  margin: 0;
  padding: 0;
}

.tab-content {
  padding: 10px;
}

.flag-li {
  border-bottom: 1px solid #eee;
}

.flag-addon {
  width: 15px;
  height: 12px;
  padding: 0;
  margin: 0;
}

.image-referral-site {
  margin-top: 0px;
  width: 20px;
  height: 20px;  
}

.slider-horizontal {
  white-space: nowrap;
  overflow: auto;
  overflow-y: hidden;
}
.slider-image {
  display: inline-block;
  float: left;
  margin-right: 5px;
  text-align: center;
}
.label-image {
  vertical-align: top;
  margin-top: 2px !important;
}

.scrollable-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}

.comments {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.comment {
  width: 100%;
  overflow-y: auto;
}

/* vertical media queries for comments container - TODO: use more blocks, to make it more responsive */
@media(max-height: 239px) {
  .comments {
    height: 80px;
  }
}
@media(min-height: 240px) {
  .comments {
    height: 120px;
  }
}
@media(min-height: 320px) {
  .comments {
    height: 170px;
  }
}
@media(min-height: 480px) {
  .comments {
    height: 330px;
  }
}
@media(min-height: 768px) {
  .comments {
    height: 618px;
  }
}
@media(min-height: 992px) {
  .comments {
    height: 842px;
  }
}
@media(min-height: 1200px) {
  .comments {
    height: 1050px;
  }
}

/*
@media(max-width: 767px) {
}
@media(min-width: 768px) {
}
@media(min-width: 992px) {
}
@media(min-width: 1200px) {
}
*/