html * {
  font-family: 'Droid Sans', sans-serif;
  outline: none !important;
}

/* space out content a bit */
body {
  padding: 10px 10px 10px 10px;
}

.navbar-compact {
  margin-bottom: 0px;
}

.container-compact {
  padding: 10px 10px 10px 10px;
}


/* everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* custom page header */
.header {
}

.navbar-brand {
  font-weight: bold;
  font-style: italic;
  color: darkred;
  padding-left: 0; /* save mobile header space ... */
}

/* custom page footer */
.footer {
  margin-top: 10px;
  padding-top: 5px;
  color: #888;
  border-top: 1px solid #e0e0e0;
  font-size: .88em;
}

.btn-spaced {
  margin-left: 5px;
}

.btn-shorter {
  padding: 0 5px 0 5px;
}

.btn-wider {
  min-width: 48px;
}

/* input-group with some bottom padding space */
.input-group-bottom-spaced {
  padding-bottom: 5px;
}

/* element rotation - 90° clock-wise */
.rotate90cw {
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -o-transform:rotate(90deg);
  -ms-transform:rotate(90deg);        
}

/* element rotation - 90° counter-clock-wise */
.rotate90ccw {
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -o-transform:rotate(270deg);
  -ms-transform:rotate(270deg);        
}

/* element rotation - 180° */
/*
.rotate180 {
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -o-transform:rotate(180deg);
  -ms-transform:rotate(180deg);        
}
*/

/* glyphicon-none: empty glyphicon */
.glyphicon-none:before {
  content: "\2122";
  color: transparent !important;
}

/* glyphicon-chevron left to make it double */
.glyphicon-chevron-left-2 {
  margin-left: -7px;
}

/* smaller glyphicons */
.glyphicon-smaller {
  font-size: 11px;
}

.opacity-40 {
  opacity: 0.4;
  filter: alpha(opacity=40);
  /*color: #aaf;*/
}

.persons-header {
  padding-bottom: 3px;
}

/* person new attribute */
.person-new {
  color: #ff7e00;
}

/* person not-new attribute */
.person-not-new {
  color: #bbb;
}

/* right-scrollbar-placeholder, for persons header labels */
.right-scrollbar-placeholder {
  margin-right: 2px;
}

/* header labels in persons view */
.persons-header-label {
  font-size: 0.9em;
  color: #222;
}

/* inactive person: lower opacity of it's row, ad draw striped background */
.person-inactive {
  opacity: 0.4;
  filter: alpha(opacity=40);
  background: repeating-linear-gradient(
    135deg, #eee, #eee 8px, #fff 8px, #fff 16px
  );
}

.person-uniq-id-last {
  border-bottom: 2px solid #111;
}

/* a clearfix, with a minimum height */
.clearfix-thick {
  line-height: 5px;
}

/* use labels as badges (to better control colors) */
.label-as-badge {
  font-size: 0.9em;
  font-style: normal;
  font-weight: bold;
  border-radius: 1.0em;
  padding: 2px 8px 2px 8px;
}

/* labels as badges, small */
.label-as-badge-small {
  font-size: 0.8em;
  display: inline-block;
  vertical-align: top;
  line-height: 0.8em;
  margin-top: 4px;
}

/* labels as badges, superscript */
.label-as-badge-superscript {
  display: inline-block;
  vertical-align: top;
  font-size: 0.7em;
  line-height: 0.8em;
  margin-top: 2px;
}

/* Listing page */
.row-gap {
  padding: 5px 0 5px 0;
  border-top: 1px solid #e0e0e0;
}
.showcase-left {
  display: inline-block;
  width: 10px;
  margin-right: 5px;
  vertical-align: top;
}
.showcase {
  display: inline-block;
}
.showcase-right {
  display: inline-block;
  width: 10px;
  margin-left: 0px;
  vertical-align: top;
}
.person-name {
  font-size: 1.0em;
  font-style: italic;
}
.img-clip-container {
  /* TODO: set this width value in controller, using ng-style (see https://docs.angularjs.org/api/ng/directive/ngStyle) */
  width: 136px; /* img-clip max width (+1+5+1+5), should be set dynamically */
  background-color: #111;
  text-align: center;
}
.img-clip {
  width: auto;
  /* TODO: set this value in controller, using ng-style (see https://docs.angularjs.org/api/ng/directive/ngStyle) */
  max-width: 124px; /* bitmap max width, should be set dynamically */
  /* TODO: set this value in controller, using ng-style (see https://docs.angularjs.org/api/ng/directive/ngStyle) */
  height: 96px; /* bitmap height, should be set dynamically */
}
.img-clip-small-container {
  width: 66px;
  text-align: center;
  border: 1px solid #aaa;
}
.img-clip-small {
  width: auto;
  max-width: 64px;
  height: 48px;
}
.img-source-container {
  height: 20px;
  text-align: center;
  border: 1px solid #aaa;
}
.img-source {
  width: auto;
  max-height: 18px;
}
/*
.img-thruthful-yes { 
          box-shadow: 1px 1px 3px 0px #143a04;
  -webkit-box-shadow: 1px 1px 3px 0px #143a04;
     -moz-box-shadow: 1px 1px 3px 0px #143a04;
}
.img-thruthful-no { 
          box-shadow: 1px 1px 3px 0px #7c0202;
  -webkit-box-shadow: 1px 1px 3px 0px #7c0202;
     -moz-box-shadow: 1px 1px 3px 0px #7c0202;
}
.img-thruthful-unknown { 
          box-shadow: 1px 1px 3px 0px #888888;
  -webkit-box-shadow: 1px 1px 3px 0px #888888;
     -moz-box-shadow: 1px 1px 3px 0px #888888;
}
*/
/*
.btn-vote {
  color: #fff;
  background-color: red;
  text-shadow: 1px 1px 1px #222;
}
.btn-vote-9 {
  background-color: #00ff00;
}
.btn-vote-8 {
  background-color: #18d800;
}
.btn-vote-7 {
  background-color: #30b000;
}
.btn-vote-6 {
  background-color: #489800;
}
.btn-vote-5 {
  background-color: #608000;
}
.btn-vote-4 {
  background-color: #786800;
}
.btn-vote-3 {
  background-color: #905000;
}
.btn-vote-2 {
  background-color: #a83800;
}
.btn-vote-1 {
  background-color: #c02000;
}
.btn-vote-0 {
  background-color: #e80800;
}
*/

/* avoid spurious selections */
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* avoid change of cursor on readonly test input */
input[readonly].default-cursor {
  cursor: default;
}

/* avoid text decoration on accordion elements */
.no-text-decoration {
  text-decoration: none !important;
}

/* persons warning text */
.persons-warning-text {
  padding-top: 1.0em;
  text-align: center;
  font-size: 1.2em;
  font-style: italic;
  color: #ff7200;
}

/* input search with clear button */
.input-search-clear {
  border-right: 0;
}
.button-search-clear {
  cursor: pointer;
  color: #ccc;
  border: 1px solid #ccc;
  border-left: 0;
  background-color: #fefefe;
  outline: none;
}
.button-search-clear:hover {
  color: #888;
  border: 1px solid #ccc;
  border-left: 0;
  background-color: #ffffff;
  outline: none;
}
.button-search-clear:active {
  color: #444;
  border: 1px solid #ccc;
  border-left: 0;
  background-color: #ffffff;
  outline: none;
}
.button-search-clear:focus {
  color: #444;
  border: 1px solid #ccc;
  border-left: 0;
  background-color: #ffffff;
  outline: none;
}

/* side-menu items separator */
p.menu-item-separator {
  margin: 10px;
}

/* carousel */
.carousel-inner > .item > img { /* center carousel slides */
  margin: 0 auto;
}
.carousel-control.left, .carousel-control.right { /* no gradient for carousel controls */
  color: #337ab7;
  background-image: none;
  text-shadow: 1px 1px 0 #fff;
}
.carousel-indicators li {
  background-color: #ddd;
}
.carousel-indicators .active {
  background-color: #ada;
}
.carousel-toolbar {
}

/* google maps */
.map-container, .panorama-container {
  height: 24em;
  width: 100%;
}
#map-error, #panorama-error {
  font-size: 2.0em;
  padding-top: 2.0em;
  text-align: center;
  font-style: italic;
  color: darkred;
}
#map-canvas, #panorama-canvas {
  width: 100%;
  height: 100%;
}

/* tab content */
.tab-content {
  padding: 10px;
}

.flag-li {
  border-bottom: 1px solid #eee;
}

.flag-addon {
  width: 15px;
  height: 12px;
  padding: 0;
  margin: 0;
}

.image-referral-source {
  margin-top: 0px;
  width: 20px;
  height: 20px;  
}

.slider-horizontal {
  white-space: nowrap;
  overflow: auto;
  overflow-y: hidden;
}
.slider-image {
  display: inline-block;
  margin-right: 3px;
  text-align: center;
}
.label-image {
  vertical-align: top;
  margin-top: 2px !important;
}

.scrollable-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}

.comments {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.comment {
  width: 100%;
  overflow-y: auto;
}

/* vertical media queries for comments container */
/* TODO: use more blocks, to make it more responsive */
@media(max-height: 239px) {
  .comments {
    height: 80px;
  }
}
@media(min-height: 240px) {
  .comments {
    height: 120px;
  }
}
@media(min-height: 320px) {
  .comments {
    height: 170px;
  }
}
@media(min-height: 480px) {
  .comments {
    height: 330px;
  }
}
@media(min-height: 768px) {
  .comments {
    height: 618px;
  }
}
@media(min-height: 992px) {
  .comments {
    height: 842px;
  }
}
@media(min-height: 1200px) {
  .comments {
    height: 1050px;
  }
}

/*
@media(max-width: 767px) {
}
@media(min-width: 768px) {
}
@media(min-width: 992px) {
}
@media(min-width: 1200px) {
}
*/