                <!-- This solution makes images in background squared'...
                <span>
                  <img ng-show="photo.thruthfulness !== 'false'" ng-src="{{cfg.apiUri + '/' + photo.path_small}}" title="not-fake photo" class="img-rounded img-clip" />
                  <img ng-show="photo.thruthfulness === 'false'" src="images/watermarks/fake-small.png" ng-style="{'background-image':'url({{cfg.apiUri + '/' + photo.path_small}})'}" title="fake photo" class="img-rounded img-clip" />
                </span>
                -->
