<header ng-controller="AuthenticationController">
  <div class="navbar navbar-default navbar-compact">
    <div class="container">

      <!-- aside menu open -->
      <a href="#/" type="button" class="btn btn-default btn-spaced navbar-btn" title="Open side menu" ng-click="openSideMenu('left')">
        <span class="glyphicon glyphicon-align-justify"></span>
      </a>

      <!-- navbar brand -->
      <a class="navbar-brand" href="#/" ng-attr-title="{{cfg.site.description}}">
        <span style="color:darkred"><img src="/images/logo.png" width="21px"> {{cfg.site.name}}</span>
      </a>

      <span class="pull-right">

        <span ng-show="!signedIn()">
          <!-- login button -->
          <a href="#/login" type="button" class="btn btn-success btn-spaced navbar-btn navbar-right" title="Sign-in (you need an account)">
            <span NO(WRAPS-UP...)class="visible-sm visible-md visible-lg">signIn</span> <span class="glyphicon glyphicon-log-in"></span>
          </a>

          <!-- register button -->
          <a href="#/register" type="button" class="btn btn-info btn-spaced navbar-btn navbar-right" title="Sign-up (if you don't have an account yet)">
            <span NO(WRAPS-UP...)class="visible-sm visible-md visible-lg">signUp</span> <span class="glyphicon glyphicon-pencil"></span>
          </a>
        </span>
  
        <span ng-show="signedIn()">
          <!-- logout button -->
          <a href="#/" ng-click="logout()" type="button" class="btn btn-default btn-spaced navbar-btn navbar-right" title="Logout">
            <span class="glyphicon glyphicon-log-out"></span>
          </a>

            <!-- user profile button -->
          <a href="#/users/id" ng-class="{'btn':1, 'btn-default':1, 'btn-spaced':1, 'navbar-btn':1, 'navbar-right':1, 'btn-primary': getUserRole() === 'admin', }" ng-attr-title="Welcome, {{getUserName()}}">
            <span class="glyphicon glyphicon-user"></span> {{getUserName()}}
          </a>
        </span>

      </span><!-- /.visible-xs -->

    </div><!-- /.container -->
  </div><!-- /.navbar -->
</header>