<p>You're logged in as user {{username}} ~ <a href="#/login">Logout</a></p><br>

<div class="container">
  <div class="row row-gap" ng-repeat="(id, person) in persons | orderObjectBy:'comments_count':true">
    <!-- person: {{person}} -->
    <div class="col-xs-4" ng-if="!cfg.fake">
      <a ng-href="#/details/{{person.id}}"><div class="img-rounded img-clip-container"><img ng-src="{{person.photo}}" class="img-rounded img-clip" /></div></a>
    </div>
    <div class="col-xs-4" ng-if="cfg.fake">
      <a ng-href="#/details/{{person.id}}"><div class="img-rounded img-clip-container"><img ng-src="images/users/user-{{$index}}.jpg" ng-srcOK="{{person.photo}}" class="img-rounded img-clip"/></div></a>
    </div>
    <div class="col-xs-2">
      <div class="person-name">
        {{person.name}}
      </div>
    </div>
    <div class="col-xs-1">
      <div class="person-site">
        <button class="btn btn-default" type="button">
          <div class="img-rounded NOimg-site-container"><img ng-src="images/sites/{{person.site}}.png" class="img-rounded img-site" /></div>
        </button>
      </div>
    </div>
    <div class="col-xs-1">
      <button type="button" class="btn btn-primary" ng-attr-title="phone: {{person.phone}}">
        <a ng-href="tel:{{person.phone}}"><i class="glyphicon glyphicon-earphone light"></i></a>
      </button>
    </div>
    <div class="col-xs-2">
      <div class="person-comments-count">
        <button class="btn btn-info" type="button" ng-attr-title="comments count">
          <i class="glyphicon glyphicon-bullhorn"></i>&nbsp;<span class="badge">{{person.comments_count}}</span>
        </button>
      </div>
    </div>
    <div class="col-xs-2">
      <div class="person-vote">
        <button class="btn btn-warning" type="button" ng-attr-title="vote">
          <i class="glyphicon glyphicon-thumbs-up"></i>&nbsp;<span class="badge">{{person.vote||5}}</span><!--&nbsp;<i class="glyphicon glyphicon-thumbs-down"></i>-->
        </button>
      </div>
    </div>
<!--
    <div class="col-xs-2">
      <input type="number" class="form-control" min="0" max="9" ng-value="person.vote" style="text-align:center;" ng-attr-title="vote" />
    </div>
-->
  </div>

<!--
<div class="container">
    <div class="img-and-info row">
        <div class="col-xs-2">
            <img src="http://dummyimage.com/180x120/" class="img-responsive">
        </div>

        <div class="info col-xs-10">
            <div class="row">
                <div class="col-xs-6">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam massa elit, lacinia ac dui et. </p>
                </div>
                <div class="col-xs-6">Col 2</div>
            </div>
            <div class="row">
                <div class="col-xs-4">Col 1</div>
                <div class="col-xs-8">Col 2</div>
            </div>
            <div class="row">
                <div class="col-xs-9">Col 1</div>
                <div class="col-xs-3">Col 2</div>
            </div>
        </div>
    </div>
</div>
-->

</div>