<div class="container">
  <div class="row row-gap" ng-repeat="(id, person) in persons | orderObjectBy:'comments_count':true">
    <!--<pre> person: {{person}} </pre>-->
    <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2">
      <a ng-href="#/details/{{person.id}}">
        <div class="img-rounded img-clip-container">
          <!-- <img ng-src="{{cfg.apiUri + '/' + person.photo_path_small_showcase}}" class="img-rounded img-clip" /> -->
<!-- TODO: img width should be enforced, can't rely un fake image width, which should be as small as possible... -->
          <img ng-show="person.thruthfulness !== 'false'" ng-src="{{cfg.apiUri + '/' + person.photo_path_small_showcase}}" title="not-fake photo" class="img-rounded img-clip" />
          <img ng-show="person.thruthfulness === 'false'" ng-style="{'background-image':'url({{cfg.apiUri + '/' + person.photo_path_small_showcase}})'}" src="images/watermarks/fake-small.png" title="fake photo" class="img-rounded img-clip" />
        </div>
      </a>
    </div>
    <div class="col-xs-8 col-sm-9 col-md-9 col-lg-9">
      <div class="row" style="padding-bottom:2px;">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="person-name">
            <div class="person-name">
              {{person.name}}
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
          <button type="button" class="btn" ng-attr-title="nationality: {{person.nationality}}">
            <a ng-href="#/"><i class="f16"><i ng-class="getCountryClass(person.nationality)"></i></span></a>
          </button>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
          <div class="person-site">
            <span ng-if="!cfg.fake">
              <button type="button" class="btn" ng-attr-title="referral site: {{person.key_site}}">
                <div class="img-rounded"><img ng-src="images/referral-sites/{{person.key_site}}.png" class="img-rounded img-site" /></div>
              </button>
            </span>
            <span ng-if="cfg.fake">
              <button type="button" class="btn" ng-attr-title="referral site: {{person.key_site}}">
                <div class="img-rounded"><img ng-src="images/referral-sites/fake-{{person.key_site}}.png" class="img-rounded img-site" /></div>
              </button>
            </span>
          </div>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
          <button type="button" class="btn btn-primary" ng-attr-title="phone: {{person.phone}}">
            <a ng-href="tel:{{person.phone}}"><i class="glyphicon glyphicon-earphone light"></i></a>
          </button>
        </div>
        <div class="col-xs-3 col-sm-2 col-md-2 col-lg-3">
          <div class="person-comments-count">
            <button class="btn btn-info" type="button" ng-attr-title="{{person.comments_count}} comments">
              <i class="glyphicon glyphicon-bullhorn"></i>&nbsp;<span class="badge">{{person.comments_count}}</span>
            </button>
          </div>
        </div>
        <div class="col-xs-3 col-sm-2 col-md-2 col-lg-3">
          <div class="person-vote">
            <button class="btn btn-warning" type="button" ng-attr-title="vote: {{person.vote||5}}">
              <i class="glyphicon glyphicon-thumbs-up"></i>&nbsp;<span class="badge">{{person.vote||5}}</span><!--&nbsp;<i class="glyphicon glyphicon-thumbs-down"></i>-->
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>