DETAIL<br>
<p>You're logged in as user {{ username }}</p>
<p><a href="#/login">Logout</a></a></p>

<div class="container">

<ul class="nav nav-pills">
  <li class="active"><a href="#tab_a" data-toggle="pill">Main</a></li>
  <li><a href="#tab_b" data-toggle="pill">Comments</a></li>
</ul>
<div class="tab-content col-xs-12">
        <div class="tab-pane active" id="tab_a">
             <h4>Pane A</h4>
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames
                ac turpis egestas.</p>
        </div>
        <div class="tab-pane" id="tab_b">
             <h4>Pane B</h4>
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames
                ac turpis egestas.</p>
        </div>
</div><!-- tab content -->

  <div class="row row-gap" ng-repeat="(id, person) in persons">
    <div class="col-xs-4">
      <a href="#/detail"><span class="img-rounded img-clip-container" ng-click><img ng-src="{{person.photo}}" class="img-rounded img-clip"/></span></a>
    </div>
    <div class="col-xs-4">
      <div class="person-name">
        <!--{{ person.name }}-->
        {{person.name.substr(0,32)}}
      </div>
    </div>
    <div class="col-xs-2">
      <button type="button" class="btn btn-primary" ng-attr-title="{{person.phone}}">
        <a ng-href="tel:{{person.phone}}"><i class="glyphicon glyphicon-earphone light"></i></a>
      </button>
    </div>

    <div class="col-xs-2">
      <button type="button" ng-class="{ 'btn': true, 'btn-danger': person.vote < 5, 'btn-success': person.vote >= 5, 'btn-vote': true, 'btn-vote-0': person.vote == 0, 'btn-vote-1': person.vote == 1, 'btn-vote-2': person.vote == 2, 'btn-vote-3': person.vote == 3, 'btn-vote-4': person.vote == 4, 'btn-vote-5': person.vote == 5, 'btn-vote-6': person.vote == 6, 'btn-vote-7': person.vote == 7, 'btn-vote-8': person.vote == 8, 'btn-vote-9': person.vote == 9 }" ng-attr-title="{{person.vote}}">
        <strong>{{person.vote ? person.vote : " ? "}}</strong>
      </button>
<!--
      <select ng-model="person.vote" ng-change="setProperty(id, { vote: person.vote })">
        <option>0</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
      </select>
-->
    </div>
  </div>

<!--
<div class="container">
    <div class="img-and-info row">
        <div class="col-xs-2">
            <img src="http://dummyimage.com/180x120/" class="img-responsive">
        </div>

        <div class="info col-xs-10">
            <div class="row">
                <div class="col-xs-6">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam massa elit, lacinia ac dui et. </p>
                </div>
                <div class="col-xs-6">Col 2</div>
            </div>
            <div class="row">
                <div class="col-xs-4">Col 1</div>
                <div class="col-xs-8">Col 2</div>
            </div>
            <div class="row">
                <div class="col-xs-9">Col 1</div>
                <div class="col-xs-3">Col 2</div>
            </div>
        </div>
    </div>
</div>
-->

</div>