<div class="container">

  <!--<pre>person:{{person}}</pre>-->
  <div class="tabbable tabs-below">
    <ul class="nav nav-pills">
      <li ng-class="{active: tabSelected === 'list', hide: tabs['list'].hidden}">
        <a href="" ng-click="back(person.id_person)"><span class="glyphicon glyphicon-chevron-left"></span>{{tabs['list'].description}}</a>
      </li>
      <li ng-class="{active: tabSelected === 'main', hide: tabs['main'].hidden}">
        <a href="" ng-click="tabSelected = 'main'">{{tabs['main'].description}}</a>
      </li>
      <li ng-class="{active: tabSelected === 'photos', hide: tabs['photos'].hidden}">
        <a href="" ng-click="tabSelected = 'photos'">{{tabs['photos'].description}}</a>
      </li>
      <li ng-class="{active: tabSelected === 'photosOccurrences', hide: tabs['photosOccurrences'].hidden}">
        <a href="" ng-click="tabSelected = 'photosOccurrences'">{{tabs['photosOccurrences'].description}}</a>
      </li>
      <li ng-class="{active: tabSelected === 'comments', hide: tabs['comments'].hidden}">
        <a href="" ng-click="tabSelected = 'comments'">{{tabs['comments'].description}} <span class="badge">{{person.comments.length}}</a>
      </li>
    </ul>

    <!-- main pill -->
    <div class="tab-content" ng-show="tabSelected === 'main' && !tabs['main'].hidden">
      <form class="form-horizontal" Xstyle="margin-top:5px">
        <div class="row">
          <div class="col-xs-12">
            <div class="slider-horizontal">
              <span ng-repeat="(number, photo) in person.photos" class="slider-image">
                <!--<pre>number:{{number}}, photo:{{photo}}</pre>-->
                <a href="" ng-click="tabSelect('photos', number)" class="no-text-decoration">
                  <img ng-src="{{cfg.apiUri + '/' + photo.path_small}}" class="img-rounded img-clip" ng-class="{'img-fake': photo.thruthful === 'false'}" />
                  <div ng-if="photo.thruthful === 'false'">
                    <img src="images/watermarks/fake-label.png" class="label-image" />
                  </div>
                  <div ng-if="photo.thruthful === 'true'">
                    <img src="images/watermarks/thruthful-label.png" class="label-image" />
                  </div>
                  <div ng-if="photo.thruthful === 'unknown'">
                    <img src="images/watermarks/unknown-label.png" class="label-image" />
                  </div>
                </a>
              </span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <div class="input-group input-group-bottom-spaced" title="The name of this person">
              <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
              <input type="text" class="form-control" ng-model="person.name" ng-change="nameChange()" placeholder="Name">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="input-group input-group-bottom-spaced" title="The description of this person">
              <span class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></span>
              <textarea class="form-control" rows="3" ng-model="person.description" ng-change="descriptionChange()" placeholder="Description"></textarea>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="input-group input-group-bottom-spaced" title="The notes for this person">
              <span class="input-group-addon"><span class="glyphicon glyphicon-edit"></span></span>
              <textarea class="form-control" rows="3" ng-model="person.notes" ng-change="notesChange()" placeholder="Notes"></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="dropdown" title="Nationality">
              <div class="input-group input-group-bottom-spaced" data-toggle="dropdown">
                <span class="input-group-addon"><i class="f16"><i ng-class="countries.getCountryClass(person.nationality)"></i></i></span>
                <input class="form-control" id="query" name="query" type="text" ng-value="countries.getCountryName(person.nationality)" />
              </div>
              <ul class="dropdown-menu scrollable-menu" role="menu">
                <li class="flag-li">
                  <a ng-click="countryChange('')"><i class="f16"><i ng-class="countries.getCountryClass('')"></i></i> </a>
                </li>
                <li ng-repeat="country in countries.getCountries()" class="flag-li">
                  <a ng-click="countryChange('{{country.code}}')"><i class="f16"><i ng-class="countries.getCountryClass(country.code)"></i></i> {{country.name}}</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="input-group input-group-bottom-spaced" title="The phone number of this person">
              <span class="input-group-addon"><a ng-href="tel:{{person.phone}}"><span class="glyphicon glyphicon-earphone"></span></a></span>
              <input type="text" class="form-control" ng-model="person.phone" ng-change="phoneChange()" placeholder="Phone">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
            <div class="input-group input-group-bottom-spaced" title="The vote for this person">
              <span class="input-group-addon" title="Vote up" ng-click="voteChange(+1)"><a href=""><span class="glyphicon glyphicon-thumbs-up"></span></a></span>
              <input class="form-control" ng-model="person.vote" placeholder="Vote" title="the vote of this person" number-mask min="{{cfg.person.vote.min}}" max="{{cfg.person.vote.max}}">
              <span class="input-group-addon" title="Vote down" ng-click="voteChange(-1)"><a href=""><span class="glyphicon glyphicon-thumbs-down"></span></a></span>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
            <div class="input-group input-group-bottom-spaced" ng-attr-title="Date of first presence is {{firstSeen(person)}}">
              <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
              <input type="text" class="form-control" ng-value="firstSeen(person)" readonly>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2">
            <div class="input-group input-group-bottom-spaced" ng-click="openInNewTab('{{person.url}}')" title="the referral source site for this person">
              <span class="input-group-addon"><span class="img-rounded"><img ng-src="images/referral-sources/{{person.source_key}}.png" class="img-rounded img-source" /></span></span>
              <input type="text" class="form-control" ng-model="person.source_key" placeholder="Referral source" readonly>
            </div>
          </div>
          <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
            <div class="input-group input-group-bottom-spaced" ng-click="tabSelected = 'comments'" title="the number of comments referring to person's phone">
              <span class="input-group-addon"><span class="label label-as-badge label-info">{{person.comments.length}}</span></span>
              <input type="text" class="form-control" value="comments" readonly>
            </div>
          </div>
          <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
            <div class="input-group input-group-bottom-spaced" ng-click="tabSelected = 'comments'" title="the median rating of comments referring to this person">
              <span class="input-group-addon"><span class="label label-as-badge label-danger">{{person.rating || '-'}}</span></span>
              <input type="text" class="form-control" value="rating" readonly>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-6 col-sm-9 col-md-10 col-lg-10">
            <div class="input-group input-group-bottom-spaced" title="Street address map">
              <span class="input-group-addon" Xstyle="cursor: pointer"><a href="" data-toggle="modal" data-target="#streetAddressIndicationsModalPopup"><span class="glyphicon glyphicon-road"></span></a></span>
              <input type="text" class="form-control" ng-model="person.street_address" placeholder="Street address" ng-change="streetAddressChange(person)">
              <span class="input-group-addon" Xstyle="cursor: default"><a href="" data-toggle="modal" data-target="#streetAddressPanoramaModalPopup"><span class="glyphicon glyphicon-home"></span></a></span>
            </div>
          </div>
          <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
            <div class="input-group input-group-bottom-spaced" title="The current activity status of this person">
              <span class="input-group-addon"><span class="glyphicon" ng-class="{'text-success': person.active === '1', 'glyphicon-ok': person.active === '1', 'glyphicon-remove': person.active === '0'}"></span></span>
              <input type="text" class="form-control" ng-value="(person.active === '1') ? 'active' : 'not active'" readonly>
            </div>
          </div>
        </div>
 
        <div class="row" style="vertical-align: bottom">
          <!--
          <div class="col-xs-4 col-sm-2 col-lg-1">
            <button class="btn btn-primary" title="Save changes to this person's data" ng-click="savePerson(person)"><i class="glyphicon glyphicon-floppy-disk">&nbsp;</i>Save</button>
          </div>
          -->
          <span ng-if="person.uniq_prev !== null">
            <div class="col-xs-5 col-sm-2 col-lg-2">
              <button class="btn btn-info" title="Previous source for this person" ng-click="open(person.uniq_prev)"><i class="glyphicon glyphicon-step-backward">&nbsp;</i>Previous</button>
            </div>
          </span>
          <span ng-if="person.uniq_next !== null">
            <div class="col-xs-5 col-sm-2 col-lg-2">
              <button class="btn btn-info" title="Next source for this person" ng-click="open(person.uniq_next)"><i class="glyphicon glyphicon-step-forward">&nbsp;</i>Next</button>
            </div>
          </span>
          <div class="col-xs-2 col-sm-8 col-lg-8">
          </div>
        </div>
      </form>

      <!-- street address indications modal popup -->
      <div id="streetAddressIndicationsModalPopup" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">{{person.street_address}}</h4>
            </div>
            <div class="modal-body">
              <div class="map-container">
                <div id="map-canvas" ng-if="!mapError">
                  -
                </div>
                <div id="map-error" ng-if="mapError">
                  {{mapError}}
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <!-- street address panorama modal popup -->
      <div id="streetAddressPanoramaModalPopup" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">{{person.street_address}}</h4>
            </div>
            <div class="modal-body">
              <div class="panorama-container">
                <div id="panorama-canvas" ng-if="!panoramaError">
                  -
                </div>
                <div id="panorama-error" ng-if="panoramaError">
                  {{panoramaError}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <!-- photos pill -->
    <!--<pre> person: {{person}} </pre>-->
    <div class="tab-content" ng-show="tabSelected === 'photos' && !tabs['photos'].hidden">
      <div class="slides-control">
        <carousel disable-animation="true">
          <slide ng-repeat="photo in person.photos" active="photo.active">
            <img class="slide" ng-src="{{cfg.apiUri + '/' + photo.path_full}}" />
            <div class="carousel-caption">
              <p>{{slide.text}}</p>
            </div>
            <div class="carousel-toolbar">
              <div class="form-group" style="vertical-align:bottom">
                <div class="col-xs-12">
                  <button ng-click="getPhotoOccurrences(person.id_person, '{{photo.url}}')" class="btn btn-success" title="Check for this photo thrutfullness on the whole web"><i class="glyphicon glyphicon-ok"></i> Check</button>
                </div>
              </div>
            </div>
          </slide>
        </carousel>
      </div>
    </div>

    <!-- photosOccurrences pill -->
    <div class="tab-content" ng-show="tabSelected === 'photosOccurrences' && !tabs['photosOccurrences'].hidden">
      <div class="jumbotron" ng-show="photosOccurrencesLoading">
        <div class="text-center">
          <span><img src="images/loading.gif" /> &emsp; Searching occurrences of this photo in the whole web...</span>
        </div>
      </div>
      <div id="photos-occurrences-toolbar" ng-hide="photosOccurrencesLoading">
        <hr>
        <button ng-click="photosOccurrencesThruthful()" class="btn btn-success"><i class="glyphicon glyphicon-ok"></i> Truthful</button>
        <button ng-click="photosOccurrencesFake()" class="btn btn-danger"><i class="glyphicon glyphicon-ban-circle"></i> Fake</button>
        <button ng-click="photosOccurrencesUndecided()" class="btn btn-warning"><i class="glyphicon glyphicon-question-sign"></i> Don't know</button>
        <hr>
      </div>
      <div id="photos-occurrences-best-guess" ng-show="!photosOccurrencesLoading && photosOccurrencesBestGuess">
        Best guess for this photo is: <a ng-href="{{photosOccurrencesBestGuess.href}}" target="_blank"><i>{{photosOccurrencesBestGuess.text}}</i></a>
      </div>
      <NOdiv style="overflow-y: auto; overflow-x: hidden;" NOresize resize-before="photos-occurrences-best-guess" resize-after="150" NOresize-after="photos-occurrences-toolbar">
        <div class="row row-gap" ng-repeat="photosOccurrence in photosOccurrences | filter:whitelist">
          <a ng-href="{{photosOccurrence.href}}" target="_blank" class="no-text-decoration">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-1">
              <div class="img-rounded img-clip-small-container">
                <img ng-src="{{photosOccurrence.imgsrc}}" class="img-rounded img-clip-small" />
              </div>
            </div>
          </a>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-5">
            <small><i style="color:darkgreen"><span ng-bind-html="photosOccurrence.hrefShort"></span></i></small>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <small><span ng-bind-html="photosOccurrence.text"></span></small>
          </div>
          <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
            <button class="btn btn-default btn-shorter" ng-click="photosOccurrencesAddToWhitelist(photosOccurrence.href)" title="add this domain to domains white-list (and then ignore it from results)">
              <i class="glyphicon glyphicon-smaller glyphicon-minus"></i>
            </button>
          </div>
        </div>
      </NOdiv>
      <div ng-show="!photosOccurrencesLoading && photosOccurrences.length === 0">
        <h5>
          No other occurrences of this photo found in the whole web: it is presumably thruthful.
        </h5>
      </div>
    </div>

    <!-- comments pill -->
    <div class="tab-content" ng-show="tabSelected === 'comments' && !tabs['comments'].hidden">
      <div class="comments">
        <span ng-if="!person.phone">
          <h5>
            Empty phone number, no comment.
          </h5>
        </span>
        <span ng-if="person.phone">
          <h5>
            Found <span class="label label-as-badge label-warning">{{person.comments.length}}</span> comment<span>{{person.comments.length > 1 ? 's' : ''}}</span> related to phone number <span class="label label-as-badge label-primary">{{person.phone}}</span>.
          </h5>
          <h5>
            <span ng-if="getPersonsNamesInPersonComments().length > 1">
              The persons related to this phone number are
            </span>
            <span ng-if="getPersonsNamesInPersonComments().length === 1">
              The person related to this phone number is <span class="label label-as-badge label-info">{{getPersonsNamesInPersonComments()[0]}}</span>.
            </span>
              <span ng-repeat="personInComment in getPersonsNamesInPersonComments()">
                <span class="label label-as-badge label-info">{{personInComment}}</span>{{$last ? '.' : ','}}
              </span>
          </h5>
          <h5>
            <span ng-if="person.comments.length > 0">
              Median rating of comments for <span class="label label-as-badge label-success">{{person.name}}</span> is <span class="label label-as-badge label-danger">{{person.rating}}</span>.
            </span>
          </h5>
        </span>
        <div ng-repeat="(n, comment) in person.comments | orderBy: ['topic', 'date']" class="row row-gap">
          <div class="form-group">
            <div class="col-xs-12">
              <div class="input-group">
                <div class="input-group-addon" style="vertical-align: top; min-width:250px; font-size: 12px;" title="Comment">
                  <div class="row" style="text-align: left; margin-bottom: 3px;">
                    <div class="col-xs-4" style="padding-right: 0;">
                      <div class="pull-right"><i>N&deg;:</i></div>
                    </div>
                    <div class="col-xs-8" style="padding-left: 5px;">
                      <div>{{1+$index}} (id:{{comment.id}})</div>
                    </div>
                  </div>
                  <div class="row" style="text-align: left; margin-bottom: 3px;">
                    <div class="col-xs-4" style="padding-right: 0;">
                      <div class="pull-right"><i>Topic:</i></div>
                    </div>
                    <div class="col-xs-8" style="padding-left: 5px;">
                      <div>{{comment.topic}}</div>
                    </div>
                  </div>
                  <div class="row" style="text-align: left; margin-bottom: 3px;">
                    <div class="col-xs-4" style="padding-right: 0;">
                      <div class="pull-right"><i>Date:</i></div>
                    </div>
                    <div class="col-xs-8" style="padding-left: 5px;">
                      <div>{{comment.timestamp | date:'yyyy-MM-dd HH:mm:ss'}}</div>
                    </div>
                  </div>
                  <div class="row" style="text-align: left; margin-bottom: 3px;">
                    <div class="col-xs-4" style="padding-right: 0;">
                      <div class="pull-right"><i>Author:</i></div>
                    </div>
                    <div class="col-xs-8" style="padding-left: 5px;">
                      <div>{{comment.author_nick}}</div>
                    </div>
                  </div>
                  <div class="row" style="text-align: left; margin-bottom: 3px;">
                    <div class="col-xs-4" style="padding-right: 0;">
                      <div class="pull-right"><i>Author karma:</i></div>
                    </div>
                    <div class="col-xs-8" style="padding-left: 5px;">
                      <div>{{comment.author_karma}}</div>
                    </div>
                  </div>
                  <div class="row" style="text-align: left; margin-bottom: 3px;">
                    <div class="col-xs-4" style="padding-right: 0;">
                      <div class="pull-right"><i>Author posts:</i></div>
                    </div>
                    <div class="col-xs-8" style="padding-left: 5px;">
                      <div>{{comment.author_posts}}</div>
                    </div>
                  </div>

                  <div class="row" style="text-align: left; margin-bottom: 3px;">
                    <div class="col-xs-12">
                      <div class="dropdown">
                        <div class="input-group" data-toggle="dropdown">
                          <span class="input-group-addon" ng-attr-title="{{isAnyPersonInCommentActive(comment.id) ? 'This comment is confirmed to be referring to this person' : 'This comment is not confirmed to be referring to this person:\nselect the right person, please'}}"><i class="glyphicon glyphicon-user" ng-class="{'text-success': isAnyPersonInCommentActive(comment.id)}"></i></span>
                          <!--<pre>{{personsPerComment[comment.id]}}</pre>-->
                          <input class="form-control" type="text" ng-value="getPersonInCommentActive(comment.id).name" />
                        </div>
                        <ul class="dropdown-menu scrollable-menu" role="menu">
                          <li ng-repeat="(personId, p) in personsPerComment[comment.id]">
                            <a ng-click="flipPersonInCommentActive(comment.id, personId)"><i class="glyphicon" ng-class="{'glyphicon-ok text-success': p.active, 'glyphicon-none': !p.active}">&nbsp;</i>{{p.name}}</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="row" style="text-align: left; margin-bottom: 3px;">
                    <div class="col-xs-12">
                      <div class="input-group">
                        <span class="input-group-addon btn btn-success" ng-click="ratingChange(comment.id, 1)" title="increase positivity rating of this comment"><i class="glyphicon glyphicon-thumbs-up"></i></span>
                        <input type="text" style="min-width: 2.4em" class="form-control" ng-model="comment.content_rating" placeholder="Rating" title="the positivity rating for this comment (0: worst, ... 9: best)">
                        <span class="input-group-addon btn btn-danger" ng-click="ratingChange(comment.id, -1)" title="decrease positivity rating of this comment"><i class="glyphicon glyphicon-thumbs-down"></i></span>
                      </div>
                    </div>
                  </div>
                </div>
                <!--<div class="form-control" style="min-height: 180px; overflow-y:auto;" ng-bind-html="comment.content"></div>-->
                <textarea class="form-control" ng-model="comment.content" style="min-height: 200px; overflow-y:auto;">
                </textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>