<style>
.img-fake {
  box-shadow: 0px 0px 1px red;
}
</style>
<div class="container">
  <div class="tabbable tabs-below">
    <ul class="nav nav-pills">
      <li ng-class="{active: tabSelected === 'main', hide: tabs['main'].hidden}">
        <a href="" ng-click="tabSelected = 'main'">{{tabs['main'].description}}</a>
      </li>
      <li ng-class="{active: tabSelected === 'photos', hide: tabs['photos'].hidden}">
        <a href="" ng-click="tabSelected = 'photos'">{{tabs['photos'].description}}</a>
      </li>
      <li ng-class="{active: tabSelected === 'photosOccurrences', hide: tabs['photosOccurrences'].hidden}">
        <a href="" ng-click="tabSelected = 'photosOccurrences'">{{tabs['photosOccurrences'].description}}</a>
      </li>
      <li ng-class="{active: tabSelected === 'comments', hide: tabs['comments'].hidden}">
        <a href="" ng-click="tabSelected = 'comments'">{{tabs['comments'].description}} <span class="badge">{{person.comments.length}}</a>
      </li>
      <li ng-class="{active: tabSelected === 'unions', hide: tabs['unions'].hidden}">
        <a href="" ng-click="tabSelected = 'unions'">{{tabs['unions'].description}}</a>
      </li>
    </ul>

    <!-- main pill -->
    <div class="tab-content" ng-show="tabSelected === 'main' && !tabs['main'].hidden">
      <form class="form-horizontal" style="margin-top:5px">
        <div class="form-group">
          <div class="col-xs-12">
            <div class="slider-horizontal">
            <span ng-repeat="(number, photo) in person.photos">
              <!--<pre>number:{{number}}, photo:{{photo}}</pre>-->
              <a href="#/" ng-click="tabSelect('photos', number)" class="no-text-decoration">
<!-- This solution makes images in background squaree'... ???
                <span>
                  <img ng-show="photo.thruthfulness !== 'false'" ng-src="{{cfg.apiUri + '/' + photo.path_small}}" title="not-fake photo" class="img-rounded img-clip" />
                  <img ng-show="photo.thruthfulness === 'false'" src="images/watermarks/fake-small.png" ng-style="{'background-image':'url({{cfg.apiUri + '/' + photo.path_small}})'}" title="fake photo" class="img-rounded img-clip" />
                </span>
-->
                <img ng-src="{{cfg.apiUri + '/' + photo.path_small}}" Xng-class="'img-fake': photo.thruthfulness === 'false'" class="img-rounded img-clip img-fake" />
              </a>
            </span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-6">
            <div class="input-group">
              <span class="input-group-addon" title="Name"><span class="glyphicon glyphicon-user"></span></span>
              <input type="text" class="form-control" ng-model="person.name" placeholder="Name">
            </div>
          </div>
          <div class="col-xs-6">
            <div class="input-group">
              <span class="input-group-addon" title="Real name"><span class="glyphicon glyphicon-heart"></span></span>
              <input type="text" class="form-control" ng-model="person.realname" placeholder="Real name">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-6">
            <div class="input-group">
              <span class="input-group-addon" title="Description"><span class="glyphicon glyphicon-pencil"></span></span>
              <textarea class="form-control" rows="3" ng-model="person.description" placeholder="Description"></textarea>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="input-group">
              <span class="input-group-addon" title="Notes"><span class="glyphicon glyphicon-edit"></span></span>
              <textarea class="form-control" rows="3" ng-model="person.notes" placeholder="Notes"></textarea>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-7 col-sm-6 col-md-6 col-lg-6">
            <div class="dropdown">
              <div class="input-group" data-toggle="dropdown">
                <span class="input-group-addon" title="Nationality"><i class="f16"><i ng-class="getCountryClass(person.nationality.countryCode)"></i></i></span>
                <input class="form-control" id="query" name="query" type="text" ng-value="person.nationality.countryName" />
              </div>
              <ul class="dropdown-menu scrollable-menu" role="menu">
                <li ng-repeat="(countryCode, countryName) in countries" class="flag-li">
                  <a ng-click="formChangeCountry('{{countryCode}}')"><i class="f16"><i ng-class="getCountryClass(countryCode)"></i></i> {{countryName}}</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-xs-5 col-sm-6 col-md-6 col-lg-6">
            <div class="input-group">
              <span class="input-group-addon" title="Referrals sites"><span class="glyphicon glyphicon-cloud-download"></span></span>
              <div class="form-control">
                <div class="slider-horizontal">
                  <span ng-repeat="(id, value) in sites">
                    <span ng-if="!cfg.fake">
                      <img class="image-referral-site" ng-src="images/referral-sites/{{id}}.png" ng-attr-title="{{value.name}}">
                    </span>
                    <span ng-if="cfg.fake">
                      <img class="image-referral-site" ng-src="images/referral-sites/fake-{{id}}.png" ng-attr-title="{{value.name}}">
                    </span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-5 col-sm-3 col-md-2 col-lg-2">
            <div class="input-group">
              <span class="input-group-addon" title="Vote up" ng-click="vote(+1)"><a href=""><span class="glyphicon glyphicon-thumbs-up"></span></a></span>
              <input type="text" style="min-width: 2.4em" class="form-control" ng-model="person.vote" placeholder="Vote">
              <span class="input-group-addon" title="Vote down" ng-click="vote(-1)"><a href=""><span class="glyphicon glyphicon-thumbs-down"></span></a></span>
            </div>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="input-group">
              <span class="input-group-addon" title="Phone"><a ng-href="tel:{{person.phone}}"><span class="glyphicon glyphicon-earphone"></span></a></span>
              <input type="text" class="form-control" ng-model="person.phone" placeholder="Phone">
            </div>
          </div>
          <div class="col-xs-3 col-sm-5 col-md-6 col-lg-6">
            <div class="input-group">
              <span class="input-group-addon" title="Last time sync'ed"><span class="glyphicon glyphicon-calendar"></span></a></span>
              <input type="text" class="form-control" ng-value="person.timestamp * 1000 | date:'yyyy-MM-dd HH:mm:ss'" readonly placeholder="Last time sync'ed">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <div class="input-group">
              <span class="input-group-addon" title="Street address photo"><a data-toggle="modal" data-target="#streetAddressModalPopup"><span class="glyphicon glyphicon-home"></span></a></span>
              <input type="text" class="form-control" ng-model="person.streetAddress" placeholder="Street address">
              <span class="input-group-addon" title="Street address indications"><a data-toggle="modal" data-target="#streetAddressIndicationsModalPopup"><span class="glyphicon glyphicon-road"></span></a></span>
            </div>
          </div>
        </div>
 
        <div class="form-group" style="vertical-align:bottom">
          <div class="col-xs-12">
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </div>
      </form>

      <!-- street address modal popup -->
      <div id="streetAddressModalPopup" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">{{person.streetAddress}}</h4>
            </div>
            <div class="modal-body">
              <img ng-src="{{person.streetAddressImageUrl}}" class="img-responsive">
            </div>
          </div>
        </div>
      </div>

      <!-- street address indications modal popup -->
      <div class="modal fade" id="streetAddressIndicationsModalPopup">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">{{person.streetAddress}}</h4>
            </div>
            <div class="modal-body">
              <map style="display: block; height: 32em; width: 100%;" zoom="14" scrollwheel="false" zoom-control-options="{ style: 'small' }" map-type-id="ROADMAP">
                <marker position="{{person.streetLocation}}" title="{{person.streetAddress}}" draggable="false" visible="true"></marker>
              </map>
            </div>
          </div>
        </div>
      </div>

    </div>

    <!-- photos pill -->
    <!--<pre> person: {{person}} </pre>-->
    <div class="tab-content" ng-show="tabSelected === 'photos' && !tabs['photos'].hidden">
      <div class="slides-control">
        <carousel disable-animation="true">
          <slide ng-repeat="photo in person.photos" active="photo.active">
            <img class="slide" ng-src="{{cfg.apiUri + '/' + photo.path_full}}" />
            <div class="carousel-caption">
              <p>{{slide.text}}</p>
            </div>
            <div class="carousel-toolbar">
              <div class="form-group" style="vertical-align:bottom">
                <div class="col-xs-12">
                  <button ng-click="photoGetOccurrences(person.id, '{{photo.url}}')" class="btn btn-success"><i class="glyphicon glyphicon-ok"></i> Check</button>
                </div>
              </div>
            </div>
          </slide>
        </carousel>
      </div>
    </div>

    <!-- photosOccurrences pill -->
    <div class="tab-content" ng-show="tabSelected === 'photosOccurrences' && !tabs['photosOccurrences'].hidden">
      <div class="jumbotron" ng-show="photosOccurrencesLoading">
        <div class="text-center">
          <span><img src="images/loading.gif" /> &emsp; Searching occurrences of this photo in the whole web...</span>
        </div>
      </div>
      <!--
        <pre>{{photosOccurrences}}</pre>
        <pre>{{photosOccurrencesBestGuess}}</pre>
      -->
      <div ng-show="!photosOccurrencesLoading && photosOccurrencesBestGuess">
        Best guess for this photo is: <a ng-href="{{photosOccurrencesBestGuess.href}}" target="_blank"><i>{{photosOccurrencesBestGuess.text}}</i></a>
      </div>
      <div class="row row-gap" ng-repeat="photosOccurrence in photosOccurrences">
        <a ng-href="{{photosOccurrence.href}}" target="_blank" class="no-text-decoration">
          <div class="col-xs-4 col-sm-2 col-md-2 col-lg-1">
            <div class="img-rounded img-clip-small-container">
              <img ng-src="{{photosOccurrence.imgsrc}}" class="img-rounded img-clip-small" />
            </div>
          </div>
          <div class="col-xs-8 col-sm-10 col-md-10 col-lg-11">
            <div class="row">
              <div class="col">
                <i style="color:darkgreen"><small><span ng-bind="photosOccurrence.href"></span></small></i>
              </div>
              <div class="col">
                <span ng-bind-html="photosOccurrence.text"></span>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div ng-show="!photosOccurrencesLoading && photosOccurrences.length === 0">
        <div class="text-center">
          <h4>No other occurrences of this photo found in the whole web: it is presumably thruthful.</h4>
        </div>
      </div>

      <div ng-hide="photosOccurrencesLoading">
        <hr>
        <button ng-click="photosOccurrencesThruthful()" class="btn btn-success"><i class="glyphicon glyphicon-ok"></i> Truthful</button>
        <button ng-click="photosOccurrencesFake()" class="btn btn-danger"><i class="glyphicon glyphicon-ban-circle"></i> Fake</button>
        <button ng-click="photosOccurrencesUndecided()" class="btn btn-warning"><i class="glyphicon glyphicon-question-sign"></i> Don't know</button>
        <!--<button NOng-hide="photosOccurrences === null" ng-click="photosOccurrencesFake()" class="btn btn-danger"><i class="glyphicon glyphicon-ban-circle"></i> Fake</button>-->
      </div>
    </div>

    <!-- comments pill -->
    <div class="tab-content" ng-show="tabSelected === 'comments' && !tabs['comments'].hidden">
      <div class="comments">
        <div ng-repeat="(id, comment) in person.comments | orderBy: ['topic', 'date']" class="row row-gap">
          <div class="form-group">
            <div class="col-xs-12">
              <div class="input-group">
                <div class="input-group-addon" style="vertical-align: top; width-max: 55px;" title="Comment">
                  <div style="font-size: 12px; text-align: left; margin-bottom: 3px; width-max: 55px;"><i>N&deg;:</i> {{1+$index}}</div>
                  <div style="font-size: 12px; text-align: left; margin-bottom: 3px; width-max: 55px;"><i>Topic:</i> {{comment.topic}}</div>
                  <div style="font-size: 12px; text-align: left; margin-bottom: 3px; width-max: 55px;"><i>Date:</i> {{comment.date}}</div>
                  <div style="font-size: 12px; text-align: left; margin-bottom: 3px; width-max: 55px;"><i>Author:</i> {{comment.author}}</div>
                  <div style="font-size: 12px; text-align: left; margin-bottom: 3px; width-max: 55px;"><i>&nbsp; karma:</i> {{comment.author_karma}}</div>
                  <div style="font-size: 12px; text-align: left; margin-bottom: 3px; width-max: 55px;"><i>&nbsp; posts:</i> {{comment.author_posts}}</div>
                </div>
                <div class="form-control" style="min-height: 128px; overflow-y:auto;" ng-bind-html="comment.content"></div>
                <!--<textarea class="form-control" rows="3">{{comment.content}}</textarea>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- unions pill -->
    <div class="tab-content" ng-show="tabSelected === 'unions' && !tabs['unions'].hidden">
      unions...
    </div>
  
  </div>
</div>