 <div ng-controller="AuthenticationController">

  <div class="modal-body noselect">
    <accordion close-others="true">

      <div class="form-group">
        <div class="input-group">
          <input type="text" class="form-control" ng-model="filters.searchTerm" placeholder="Search">
          <div class="input-group-btn">
            <!-- <i class="glyphicon glyphicon-remove-circle"></i> clear button doesn't work... -->
            <button class="btn btn-default" ng-click="search()">
            <i class="glyphicon glyphicon-search"></i>
            </button>
          </div>
        </div>
      </div>

      <p style="margin: 10px;"></p>

      <accordion-group is-open="filters.isopened">
        <accordion-heading>
          Filters <i class="pull-right glyphicon" ng-click="toggleFiltersOpened(filters.isopened)" ng-class="{'glyphicon-chevron-down': filters.isopened, 'glyphicon-chevron-right': !filters.isopened}"></i>
        </accordion-heading>
  
        Only persons who are:<br>
        <div class="btn-group">
          <div class="dropdown">
            <div class="input-group" data-toggle="dropdown">
              <span class="input-group-addon" title="Filter active or not active persons"><i ng-class="getStatusClass(filters.status)"></i></span>
              <input class="form-control default-cursor" id="query" name="query" type="text" ng-value="filters.status" readonly="" />
            </div>
            <ul class="dropdown-menu scrollable-menu" role="menu">
              <li ng-repeat="status in statuses()">
                <a ng-click="setFilterStatus(status)"><i ng-class="getStatusClass(status)">&emsp;</i> {{status}}</a>
              </li>
            </ul>
          </div>
        </div>

        <p style="margin: 10px;"></p>

        Only persons with min. vote:<br>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon" title="Vote up" ng-click="setFilterVoteMin(+1)"><i class="glyphicon glyphicon-thumbs-up"></i></span>
            <input type="text" class="form-control default-cursor" ng-value="filters.voteMin" readonly="" />
            <span class="input-group-addon" title="Vote down" ng-click="setFilterVoteMin(-1)"><i class="glyphicon glyphicon-thumbs-down"></i></span>
          </div>
        </div>
  
        Only persons with min. comments:<br>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon" title="Increase minimum comments count" ng-click="setFilterCommentsCountMin(+10)"><i class="glyphicon glyphicon-bullhorn rotate90ccw"></i></span>
            <input type="text" class="form-control default-cursor" ng-value="filters.commentsCountMin" readonly="" />
            <span class="input-group-addon" title="Decrease minimum comments count" ng-click="setFilterCommentsCountMin(-10)"><i class="glyphicon glyphicon-bullhorn rotate90cw"></i></span>
          </div>
        </div>

        Only persons from country:<br>
        <div class="btn-group">
          <div class="dropdown">
            <div class="input-group" data-toggle="dropdown">
              <span class="input-group-addon" title="Nationality"><i class="f16"><i ng-class="getCountryClass(filters.nationality.countryCode)"></i></i></span>
              <input class="form-control default-cursor" id="query" name="query" type="text" ng-value="filters.nationality.countryName" readonly="" />
            </div>
            <ul class="dropdown-menu scrollable-menu" role="menu">
              <li ng-repeat="(countryCode, countryName) in activeCountries()" class="flag-li">
                <a ng-click="setFilterNationalityCountry(countryCode)"><i class="f16"><i ng-class="getCountryClass(countryCode)"></i></i> {{countryName}}</a>
              </li>
            </ul>
          </div>
        </div>

      </accordion-group>

      <p style="margin: 10px;"></p>

      <accordion-group is-open="options.isopened">
        <accordion-heading>
          Options <i class="pull-right glyphicon" ng-click="toggleOptionsOpened(options.isopened)" ng-class="{'glyphicon-chevron-down': filters.isopened, 'glyphicon-chevron-right': !filters.isopened}"></i>
        </accordion-heading>
  
        Not yet implemented...<br>

      </accordion-group>

      <p style="margin: 10px;"></p>

      <button class="btn btn-primary btn-block" ng-click="about()">
        About
      </button>

    </accordion>
  </div>
  
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="close($event)">Close</button>
  <!--
    <button class="btn btn-primary" ng-click="ok($event)">OK</button>
    <button class="btn btn-warning" ng-click="cancel($event)">Cancel</button>
  -->
  </div>

</div>